@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.secondaryText-131{
  font-size:4em;
}
.people_list{
  display:inline;
  position: absolute;
  z-index: 10000;
  width: 98%;
  box-sizing: border-box;
}
.people_list_hide {
  display:none
}
.persona_card{
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  max-width: 100em;
  margin-bottom: 4px;
  background-color: #eee;
  padding: 10px;
  border-bottom: 1px solid #8c8c8c;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  .persona{
    align-items: center;
    display: inline-flex;
    height: 2rem;
    justify-content: center;
    position: absolute;
    right: 1.5rem;
    width: 1.4rem;
    i{
      color: "[theme:themeSecondary, default: #2b88d8]";
      cursor: pointer;
      font-size: 2.4rem;
    }

  }
  .callout {
    display: hidden;
  }
  .calloutShow {
    display: block;
  }
}
